@CHARSET "UTF-8";
body {
	padding-top: 60px;
}
.iconic {
	font-size: 24px;
	display: inline-block;
	height: 24px;
	width: 24px;
	line-height: 24px;
	color: gray;
}
.iconic:hover{
	text-decoration: none;
}


.green { color: MediumSeaGreen !important; }
.hover-green:hover { color: MediumSeaGreen !important; }
.hover-red:hover   { color: IndianRed !important;}
.hover-gray:hover   { color: gray !important;}

td.record-actions {
	text-align: right;	
}

